<h1>
  Il y a {{getNbBalles()}} balles dans un cadre de {{W}}x{{W}} de côté
</h1>
<svg [attr.width]="W" [attr.height]="W" (click)="addBalle($event)">
  <g [attr.transform]="transfo">
    <circle *ngFor="let b of ballesObs | async"
            [attr.r]   = "b.r"
            [attr.cx]  = 'b.P[0]'
            [attr.cy]  = 'b.P[1]'
            stroke      = "black"
            [attr.fill] = "b.c" />
  </g>
</svg>

<svg [attr.width]="W" [attr.height]="W" (click)="addBalle($event)">
  <g [attr.transform]="transfo">
    <polygon  *ngFor="let b of matterBodiesObs | async"
              [attr.points]="points(b)"
              stroke="black"
              fill="green"
    ></polygon>
  </g>
</svg>


<ol>
  <li *ngFor="let b of ballesObs | async">
    <app-balle-details [balle]="b"></app-balle-details>
  </li>
</ol>
